/*
 * Home code goes here.
 * 
 */

/*HEADER*/
.desktop-header-style-2:not(.stuck) {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.desktop-header-style-2:not(.stuck) a.lang-link,
.desktop-header-style-2:not(.stuck) a.lang-link:hover,
.desktop-header-style-2:not(.stuck) a.expand-more,
.desktop-header-style-2:not(.stuck) a.expand-more:hover,
.desktop-header-style-2:not(.stuck) a.nav-link:hover,
.desktop-header-style-2:not(.stuck) a.header-btn:hover,
.desktop-header-style-2:not(.stuck) a.nav-link,
.desktop-header-style-2:not(.stuck) a.header-btn {
  color: #ffffff;
}
.desktop-header-style-2 .logo {
}
.desktop-header-style-2:not(.stuck) .logo {
  filter: brightness(1000%);
}
/*HEADER MOBILE*/
#mobile-header-sticky:not(.stuck) {
  background: rgb(0, 0, 0) !important;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  ) !important;
}
#mobile-header-sticky:not(.stuck) .m-nav-btn,
#mobile-header-sticky:not(.stuck) .m-nav-btn:hover {
  color: #ffffff;
}
#mobile-header-sticky:not(.stuck) .logo {
  filter: brightness(1000%);
}
#mobile-header,
#mobile-header #mobile-header-sticky {
  background: transparent;
}
#mobile-header #mobile-header-sticky.stuck {
  background: #ffffff !important;
}
@media screen and (max-width: 767px) {
  #wrapper {
    margin-top: -105px;
  }
}

/*ELEMENTOR*/
.banner-img-sup .elementor-iqit-banner-content {
  background-color: #f4f6ff;
}
